In [62]:
iris = pd.read_csv('iris.csv')

In [63]:
iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width      Species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [64]:
x = iris[['Petal.Length']]
y = iris[['Species']]

In [65]:
from sklearn.model_selection import train_test_split

### Classifier

In [66]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.4)

In [67]:
from sklearn.tree import DecisionTreeClassifier

In [68]:
d_model = DecisionTreeClassifier()

In [69]:
d_model.fit(x_train, y_train)

DecisionTreeClassifier()

In [70]:
y_pred = d_model.predict(x_test)

In [71]:
y_pred[0:5]

array(['Iris-versicolor', 'Iris-versicolor', 'Iris-virginica',
       'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [72]:
y_test.head()

             Species
126   Iris-virginica
63   Iris-versicolor
143   Iris-virginica
62   Iris-versicolor
148   Iris-virginica

In [73]:
from sklearn.metrics import confusion_matrix

In [74]:
confusion_matrix(y_test, y_pred)

array([[14,  0,  0],
       [ 0, 16,  1],
       [ 0,  8, 21]], dtype=int64)

In [75]:
(18+18+20)/(18+18+20+3+1)

0.9333333333333333

### Regressor

In [76]:
z = iris[['Sepal.Length']]

In [77]:
x_train1, x_test1, y_train1, y_test1 = train_test_split(x,z, test_size = 0.4)

In [78]:
from sklearn.tree import DecisionTreeRegressor

In [79]:
tree_reg = DecisionTreeRegressor()

In [80]:
tree_reg.fit(x_train1, y_train1)

DecisionTreeRegressor()

In [81]:
y_pred1 = tree_reg.predict(x_test1)

In [82]:
y_pred1[0:5]

array([4.9       , 5.1       , 7.3       , 5.73333333, 5.5       ])

In [83]:
y_test1.head()

     Sepal.Length
43            5.0
24            4.8
135           7.7
96            5.7
81            5.5

In [84]:
from sklearn.metrics import mean_squared_error

In [85]:
mean_squared_error(y_pred1, y_test1)

0.18005825617283955